.App {
  text-align: center;
}
.person img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
}
.person {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  column-gap: 1rem;
}
main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background: #fff;
  align-items: center;
  width: 90vw;
  max-width: 450px;
  padding: 1.5rem 2rem;
  margin: 5rem 0;
  box-shadow: 0 5px 15px rgb(0 0 0 / 40%);
  border-radius: 0.25rem;
}
section {
  display: block;
}
.btn {
  display: inline-block;
  background: #10b5bb;
  color: #fff;
  padding: 0.25rem 0.75rem;
  border-radius: var(--radius);
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  margin-top: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: all 0.3s linear;
  width: 100%;
  border-radius: 0.25rem;
}
.btn:hover {
  background: #0c898d;
}
*,
:after,
:before {
  box-sizing: border-box;
}
@media screen and (min-width: 800px) {
  body,
  h4 {
    font-size: 1rem;
  }
}
